*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.tablePerson {
    width: 90%;
    margin: 20px auto;
    padding: 1em;
    text-align: center;
    border: 1px solid black;
    background-color: #eeeeee;
}

.addPerson {
    width: 90%;
    margin: 20px auto;
    padding: 1em;
    text-align: center;
    border: 1px solid black;
    background-color: #eeeeee;
}

button, input{
    padding: 5px;
}

tr {
    margin: 1em auto;
}